# Dependency directories
node_modules/

# Logs
logs
*.log

# dotenv environment variables file
.env
.env.test

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

src/config.json